@charset "utf-8";

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
html.block{
  overflow: hidden;
}
body {
  word-break: keep-all;
  overflow-y: auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}
ul, li{
  list-style: none;
}

a {
  color: #222;
  text-decoration: none;
}
nextjs-portal{
  display: none;
}
.hidden{
  display: none;
}